@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

#content {
    margin: 0 auto;
    max-width: 1600px;
}

body {
    background-color: white;
    font-family: Lato, Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #385F71;
    display: grid;
    grid-template-columns: 150px auto;
}

.home-title {
    background-color: #385F71;
    font-size: 2em;
    margin-top: 10px;
} 

nav a{
    text-align: center;
    background-color: #385F71;
    text-decoration: underline black;
}

nav a:hover{
    background-color: black;

}

/*book now icons*/
.book{
    text-align: center;
    background-color: #F5F0F6; 
    text-decoration: none; 
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

#logo_link {
    padding-top: 15px;
}

.join {
    background-color: #F5F0F6;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #ADC9D7;
}

.msg{
    background-color: #F5F0F6;
    text-align: center;
    line-height: 1.5em;
    padding: 35px;

}

.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

#hero-msg h1, #hero-msg h2{
    text-align: center;
    color: black;
}

.icon {
    width: 80px;
    text-align: center;
    padding-top: 10px;
}

.button box {
    text-align: center;
}

main section {
    text-align: center;
}

#hero-img{
    width: auto;
    margin: 0 auto;
}

main section img {
    box-sizing: border-box;
}

h2 {
    margin: 0;
}

h4 {
    background-color: #ADC9D7;
}

#background {
    height: 725px;
    background-color: #385F71;
}

.card-img {
    border: 10px solid #385F71;    
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer {
    background-color: #ADC9D7;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    background-color: #ADC9D7;
    text-decoration: underline black;
}

footer a:hover {
    background-color: #ADC9D7;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline black;
}

footer .social img {
    padding-top: 15px;
}