
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

#content {
    margin: 0 auto;
    max-width: 1600px;
}
 nav {
    display: flex;
    justify-content: space-around;
 }
nav a{
    text-align: center;
    background-color: #385F71;
    color: #ADC9D7;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: black;
    color:#ADC9D7;
}

.logo {
  width: 80px;
  height: auto;
}
.icon {
    width: 80px;
    height: auto;
    padding-top: 10px;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg h1, #hero-msg h2{
    text-align: center;
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #F5F0F6;
    font-family: Lato, Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #385F71;
    display: grid;
    grid-template-columns: 150px auto;
}
  
.book {
    background-color: #385F71;
    border: solid black;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 20px;
    margin: 50px auto 0 auto;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.join {
    background-color: #ADC9D7;
    border: solid black;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #ADC9D7;
}

#background{
    background-color: #F5F0F6;
}

.msg{
    background-color: #ADC9D7;
    line-height: 1.5em;
    padding: 35px;   
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364; 
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}

.card-img, .mountains {
  width: 100%;
}

.rivers-card {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.camping-card {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}

.rapids-card {
  grid-column: 8 / 10;
  grid-row: 2 / 3;
}

#background {
  grid-column: 1 / 11;
  grid-row: 4 / 9;
}

.mountains {
  grid-column: 2 / 7;
  grid-row: 5 / 8;
}

.msg {
  grid-column: 6 / 10;
  grid-row: 6 / 7;
}

footer{
    background-color: #2B4162;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    background-color: #385F71;
    font-family: Roboto, Lato, sans-serif;
    font-size: 2em;
}

h4 {
    background-color: #ADC9D7;
}

.msg h2{
    background-color: #ADC9D7;
}

h2 {
    margin: 0;
}

.msg p{
    background-color: #ADC9D7;
    font-size: 1em;
    font-family: Lato, Roboto, sans-serif;
    padding-bottom: 15px;
}

footer a{
    background-color: #ADC9D7;
    text-decoration: none;
}

footer a:hover{
    background-color: #58B09c;
}

footer P {
    font-size: 1.2em;
    font-family: Lato, Roboto, sans-serif;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}