body {
    text-align: center;
}
a {
    color: white;
    margin: 40px;
}
h1 {
    color: steelblue;
}
img {
    width: 800px
    4px solid steelblue;
}
p {
    padding: 10px;
}
footer {
    background-color: steelblue;
    color: white;
}