#active {
  background-color: white;
  color: steelblue;
}

nav {
  background-color: steelblue;
  padding: 25px;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}

.main para {
  font-size: 1.5em;
  line-height: 1.5em;
}

main p {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

a {
  color: white;
  margin: 40px;
  font-size: 1.5em;
  padding: 25px;
}

a:hover {
  background-color: white;
  color: steelblue;
}

h1 {
  color: steelblue;
  margin: 50px 0;
}
img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 4px Solid steelblue;
}

p {
  width: 80%
}

footer p {
  font-size: 20px;
  margin: 20px auto;
  padding: 25px;
}

footer {
  background-color: steelblue;
  color: white;
}

nav, footer {
  background-color: steelblue;
  color: white;
  padding: 10px;
}